.idea/
**/.DS_Store
**/__pycache__/
**/.ipynb_checkpoints/
notebooks/local/
data/
bkp/
demo/data/
demo/test_data/
demo/.env
demo/runs/
demo/output/
demo/data/
demo/test_data/
demo/.env
demo/runs/
demo/output/
